* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*navbar*/

.main-container {
    margin: 0 65px;
}

.header-p1 {
    display: flex;
    justify-content: space-between;
}

.p1-2 {
    display: flex;
    gap: 40px;
    margin-left: 40px;
    flex-wrap: wrap;
    align-content: center;
    color: gray;
    font-family: 'Bree Serif', serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.header-p2 {
    display: flex;
}

a {
    color: gray;
    text-decoration: none;
}

.header-p2 {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-content: center;
}

button {
    border: solid 0px;
    border-radius: 25px;
    font-size: 15px;
    padding: 10px;
    font-family: 'Bree Serif', serif;
}

button.order {
    border: solid 0.1px gray;
    background: white;
}

button.reserv {
    color: white;
    background: #e95c18;
}

p.button {
    margin: 0px 20px;
}

/* home */

.home {
    display: flex;
    margin: 40px 0px;
}

.image-container img {
    width: 90%;
    border-radius: 20px;
    position: relative;
    padding: 15px;
    right: 50px;
}

.home-2 {
    background: #e95c18;
}

.home-1 {
    display: block;
    padding: 35px 0px 35px 40px;
}

.home-content {
    display: block;
}

h1.content {
    font-size: 50px;
    font-family: sans-serif;
    margin-bottom: 15px;
}

h1.content-1 {
    font-size: 50px;
    font-family: sans-serif;
    color: #e95c18;
    margin-bottom: 10px;
}

h2.content-2 {
    font-family: 'Bree Serif';
    font-size: 20px;
    color: gray;
    padding-right: 89px;
    margin-bottom: 25px;
}

.home-button {
    display: flex;
    gap: 70px;
}

button.btn-1 {
    color: white;
    background: #e95c18;
    font-size: 15px;
    padding: 15px 35px;
}

button.btn-2 {
    background: white;
    border: solid 0.5px gray;
    padding: 15px 35px;
}

section.partners {
    margin: 75px 0px;
}

.logos {
    display: flex;
    gap: 70px;
    justify-content: center;
    padding-top: 50px;
}

p.txt {
    text-align: center;
    font-size: 25px;
    font-family: 'Bree Serif';
}

.partner-head {
    padding: 20px 15px;
    margin: 40px 0px;
}

.menu-item {
    display: flex;
    gap: 50px;
    justify-items: center;
}

section.menu {
    margin: 40px 0px;
    padding: 0px 50px;
}

p.menu {
    text-align: center;
    font-size: 30px;
    font-family: 'Bree Serif';
    padding-bottom: 80px;
    margin-top: 80px;
}

.Menu {
    border: solid 3px #e3dcdc;
    border-radius: 20px;
    height: fit-content;
}

.Menu-info {
    padding: 15px;
}

img.menu {
    margin: 10px 0px;
}

.menu-name {
    margin: 10px 0px;
}

p.name {
    text-align: center;
    font-family: 'Bree Serif';
    font-size: 25px;
}

.discription {
    margin: 15px 0px;
}

p.disc {
    font-family: 'Bree Serif';
    color: gray;
}

p.exp {
    text-align: center;
    font-family: 'Bree Serif';
    font-size: 17px;
    color: #e95c18;
    padding: 15px 0px;
}

img.menu {
    margin: 10px 0px;
    padding: 0px 50px;
}

section.Menu-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 50px 0px 90px;
}

button.menu-1 {
    background: #e95c18;
    color: white;
    height: fit-content;
}

button.menu-2 {
    border: solid 0.5px gray;
    background: white;
}

section.about-us {
    background: #fff4f6;
    margin: 50px 0px;
    display: flex;
    padding: 20px 0px 0px 50px;
}

section.about-us {
    margin: 50px 0px;
    display: flex;
    padding: 20px 0px 0px 50px;
}

.about-img {
    display: flex;
    align-items: center;
    padding-bottom: 200px;
    width: 50%;
    box-sizing: content-box;
}

.img-1 img {

    width: 460px;
    border-radius: 30px;

}
.contact {
    display: flex;
    background-color: #ffffff;
    width: fit-content;
    height: 60%;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    border-radius: 25px;
    row-gap: 20px;
    font-family: DM Sans;
    font-weight: 500;
    top: 200px;
    right: 300px;
    box-sizing: border-box;
}
.contact-info {
    font-family: 'Bree Serif';
    font-weight: 500;
    font-size: 20px;
}
.contact-location {
    display: flex;
    column-gap: 20px;
    width: 350px;
}
.contact-phone {
    display: flex;
    -moz-column-gap: 20px;
    column-gap: 20px;
    width: 350px;
}
.contact-email {
    display: flex;
    -moz-column-gap: 20px;
    column-gap: 20px;
    width: 350px;
}
.contact-logo {
    display: contents;
}
p.contact-txt {
    color: gray;
    font-family: 'Bree Serif';
}
p.contact-phone{
    color: gray;
    font-family: 'Bree Serif';
}
.about-cont {
    padding: 50px 0px 0px 50px;
}
.about-head {
    margin: 25px 0px;
}
p.about {
    font-size: 30px;
    font-family: 'Bree Serif';
}
.about-info-1 {
    margin: 15px 0px;
    font-family: 'Bree Serif';
    color: gray;
}
.about-info-2 {
    margin: 15px 0px;
    font-family: 'Bree Serif';
    color: gray;
}
.about-btn {
    display: flex;
    gap: 20px;
}
button.ab-btn-1 {
    border: solid 1px gray;
    background: white;
    width: 115px;
}
button.ab-btn-2 {
    background: #e95c18;
    color: white;
    width: 123px;
}
section.browse-menu {
    display: block;
    padding: 30px 0px 0px 50px;
    margin: 70px 0px;
}
.browse-head {
    display: block;
    margin-bottom: 60px;
}
p.head-txt {
    font-size: 30px;
    font-family: 'Bree Serif';
    text-align: center;
}
.head-cont {
    color: gray;
    padding: 25px;
    font-size: 17px;
    text-align: center;
}
.browse-items {
    display: block;
}
.item-img img {
    height: 260px;
    border-radius: 40px;
    width: 260px;
}
.items {
    display: flex;
    gap: 40px;
}
.item-name {
    margin: 15px 0px 20px;
}
.item-info {
    margin: 20px 0px;
}
p.item-info {
    font-family: 'Bree Serif';
    color: gray;
    text-align: justify;
}
.item-info {
    margin: 20px 0px 50px;
}
p.item-name {
    text-align: center;
    font-size: 25px;
    font-family: 'Bree Serif';
}
.browse-button {
    display: flex;
    gap: 40px;
    justify-content: center;
}
button.br-btn-1 {
    background: #e95c18;
    color: white;
    width: 130px;
    height: 50px;
}
button.br-btn-2 {
    border: solid 0.5px gray;
    background: white;
    width: 130px;
    height: 50px;
}
section.best-item {
    display: flex;
    margin: 135px 0px;
}
.best-img img {
    height: 100%;
    width: 700px;
}
.best-info {
    background: #e95c18;
    color: white;
}
.best-info {
    background: #e95c18;
    color: white;
    padding: 100px 50px 0px 50px;
}
.best-head {
    margin: 25px 0px;
}
p.best-head {
    font-size: 50px;
    font-family: 'Bree Serif';
}
.best-txt {
    margin: 50px 0px;
}
p.best-txt {
    font-family: 'Bree Serif';
}
.best-button {
    display: flex;
    gap: 20px;
}
button.bs-btn-1 {
    border: solid 1px white;
    width: 135px;
    height: 50px;
}
button.bs-btn-2 {
    border: solid 1px white;
    background: #e95c18;
    color: white;
    width: 135px;
    height: 50px;
}

.details {
    display: flex;
}
.star img {
    height: 25px;
}
section.testimonials {
    display: block;
}
.testimonial-info {
    display: flex;
}
.left-arrow img {
    height: 45px;
}
.right-arrow img{
    height: 45px;
}
.left-arrow {
    border-radius: 133px;
    border: solid 1px;
    height: 50px;
    width: 63px;
    background: #e95c18;
    align-self: center;
}
.right-arrow {
    border-radius: 133px;
    border: solid 1px;
    height: 50px;
    width: 63px;
    background: #e95c18;
    align-self: center;
}
.testimonial-head {
    margin: 35px 0px;
}
p.testimonial-head {
    text-align: center;
    font-family: 'Bree Serif';
    font-size: 30px;
}
.testimonial-txt {
    margin: 20px 0px;
}
p.testimonial-txt {
    text-align: center;
    font-family: 'Bree Serif';
    font-size: 20px;
    color: gray;
}
.testimonial-info {
    display: flex;
    gap: 10%;
    margin: 35px 0px;
}
div#details {
    padding: 50px 125px;
    border: solid rgb(214, 210, 210);
    border-radius: 25px;
}
p.details1 {
    margin: 15px 0px;
    font-family: 'bree serif';
    font-size: 25px;
}
p.details2 {
    margin: 15px 0px;
    font-family: 'bree serif';
    color: gray;
}
.testimo {
    display: flex;
    margin-top: 35px;
}
.testimo-img img {
    height: 55px;
    width: 55px;
    border-radius: 35px;
    margin-right: 25px;
}
.testimo-info {
    align-self: center;
}
.name {
    font-family: 'Bree Serif';
}
.location {
    font-family: 'Bree Serif';
    color: gray;
}
.testimonial-button {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 75px 0px;
}
button.ts-btn-1 {
    border: solid #e95c18;
    background: #e95c18;
    color: white;
    width: 135px;
    height: 50px;
}
button.ts-btn-2 {
    border: solid 1px gray;
    background: white;
    width: 135px;
    height: 50px;
}

section.articles {
    display: block;
}
.article-head {
    display: flex;
    justify-content:space-around;
    margin: 115px 0px 55px;
    padding-top: 60px;
}
.article-item {
    display: flex;
    justify-content: center;
    gap: 30px;
}
div#art-item-2 {
    display: block;
}
.art-item-2 {
    display: flex;
}
p.art-head {
    font-family: 'Bree Serif';
    font-size: 30px;
}
.art-txt {
    align-self: center;
    border: solid white;
    background: white;
    border-radius: 25px;
    font-family: 'Bree Serif';
    width: 155px;
    height: 50px;
}
section.articles {
    display: block;
    background: #f1e7e8;
}
p.art-txt {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.art-item-img img {
    height: 301px;
    border-radius: 30px 30px 0px 0px;
    
}
.art-item2-img img {
    height: 170px;
    border-radius: 10px 10px 0px 0px;
}
.art-item1-date {
    margin: 10px 0px;
    font-size: 12px;
    font-family: 'Bree Serif';
    color: gray;
}
.art-item1-head {
    margin: 10px 0px;
    font-size: 18px;
    font-family: 'Bree Serif';
}
.art-item1-txt {
    color: gray;
}
.art-item-2 {
    margin-bottom: 30px;
    display: flex;
    gap: 40px;
}
.art-item2-head {
    font-family: 'Bree Serif';
}
section.contact-us {
    display: flex;
    justify-content: space-around;
}
.cu-info {
    display: block;
    margin-top: 95px;
    margin-left: 35px;
    width: 50%;
    height: 100%;
}
section.contact-us {
    display: flex;
    justify-content: space-around;
    margin: 80px 0px;
    height: fit-content;
}
div#cu-form {
    background: #e95c18;
}
.cu-form {
    position: relative;
    right: 100px;
    border: solid 1px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: white;
    border-radius: 20px;
    padding: 70px;
}
.part-item {
    display: block;
    margin-bottom: 10px;
}
.part-name {
    margin-bottom: 15px;
}
p.part-name {
    font-family: 'bree serif';
}
.cu-form-info {
    display: flex;
    gap: 20px;
}
.cu-form-button {
    margin-top: 35px;
}
button.cu-btn {
    background: #e95c18;
    color: white;
    width: 135px;
    height: 50px;
}
.cu-head {
    margin: 60px 0px 30px;
}
p.cu-head {
    font-family: 'bree serif';
    font-size: 30px;
}
.cu-txt {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-right: 100px;
    color: gray;
    font-family: 'bree serif';
}
.cu-item {
    margin-top: 16px;
    display: flex;
    gap: 20px;
}
.cu-items {
    margin-top: 53px;
}
p.cu-item-txt {
    font-family: 'Bree Serif';
    color: gray;
}
section.follow-us {
    padding: 80px 0px;
}
.follow-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
p.follow-head {
    font-size: 25px;
    font-family: 'bree serif';
}
button.follow {
    background: #e95c18;
    color: white;
    width: 135px;
    height: 50px;
}
.follow-item {
    display: flex;
    gap: 25px;
}
.follow-img img {
    height: 385px;
    border-radius: 30px;
}
.follow-img {
    display: block;
}
.flw img {
    width: 180px;
    height: 100%;
}
.flw-img {
    display: flex;
    gap: 20px;
    margin: 0px 0px 15px 0px;
}
.footer1 {
    display: flex;
    gap: 10px;
}
.footer1 img {
    height: 30px;
}
section.footer {
    display: flex;
    gap: 20px;
}
.footer-info2 {
    display: flex;
    gap: 10px;
    font-family: 'Bree Serif';
}
.footer-info3 {
    display: block;
}
.footer3-1 {
    display: flex;
    gap: 15px;
}
.footer3-img img {
    height: 150px;
    border-radius: 15px;
}
.footer1 {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
p.footer2 {
    font-size: 15px;
    font-family: 'bree serif';
    color: gray;
}
.pages {
    margin-bottom: 10px;
}
.footer3 {
    margin-bottom: 15px;
    font-family: 'Bree Serif';
    font-size: 20px;
}